*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#FFFCF5;
}
nav{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ffc530;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    width: 70px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links a{
    font-family: 'Montserrat', sans-serif;
    color: #FFFCF5;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
}

.button_menu{
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;;
    border: solid 2px #111111;
    border-radius: 10px;
    background-color: #111111;
    padding: 1px 5px 1px 5px;
    color: #ffc530;
    box-shadow: 1px 3px #00000036;
}
.nav-links a:hover{
    font-family: 'Montserrat', sans-serif;
    color: #111111;
    text-decoration: none;
    letter-spacing: 1px;    
    font-weight: 700;
    font-size: 15px;
}
.nav-links li{
    list-style: none;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #111111;
    margin: 5px;
    transition:all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color: #ffc530;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
} 
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

h1{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 2%;
    text-align: center;
    letter-spacing: -2px;
}

.menu{
    display: inline-block;
    margin: .5% 25%;
}

.prod{
    width: 26%;
    margin: 20px;
    box-shadow: 6px 8px #00000080;
}

.order{
    position: relative;
    left: 45%;
    background-color: #FF3030;
    color: #FFFCF5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 10px 21px;
    border-radius: 20px;
    text-decoration: none;
}

.order:hover{
    background-color: #111111;
    font-weight: 500;
    color: #ffc530;

}

.whitespace{
    background-color: #FFFCF5;
    width: 100%;
    height: 10vh;
}

@media screen and (max-width:1024px) {
    h1{
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
    }
    .menu{
        margin: .5% 20%;
    }
    .prod{
        width: 24%;
    }
    .order{
        left: 43%;
        font-size: 12px;
        padding: 10px 20px;
    }
}
@media screen and (max-width:1114px) {
    .menu{
        margin: .5% 20%;
    }
    .order{
        left: 44%;
        font-size: 13px;
        padding: 10px 20px;
    }
}

@media screen and (max-width:768px) {
    h1{
        margin-right: 0;
        text-align: center;
        font-size: 30px;
    }
    .menu{
        margin: .5% 15%;
    }
    .prod{
        width: 35%;
    }
    .order{
        left: 38%;
        font-size: 12px;
        padding: 10px 20px;
    }
    
}
