*
{
    color:black;
    margin: 0;
    padding: 0;
}
a
{
    text-decoration:none;
}
.contentBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contentBox .formBox
{
    width: 50%;
    height: auto;
}
.textbx
{
    width: 100%;
}
.contentBox .formBox .textbx h2
{
    font-weight: 400;
    font-size: 2.3em;
    font-family: Montserrat;
    display: inline-block;
    letter-spacing: 1px;
    margin-top: 100px;
    width:80%;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 10px;
    padding: 10px 10px;
}
.contentBox .formBox p
{
    font-weight:200;
    margin-bottom: 20px;
    font-family:Montserrat;
    width:80%;
    margin-left: 10%;
    margin-right:10%;
    padding: 10px 10px;
    letter-spacing: 1px;
}
.contentBox .formBox .inputBox input
{
    width: 80%;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #E8E8E8;
    border-radius: 15px;
    margin-left: 10%;
    margin-right:10%;
}
.ssBox
{
    margin-top: 20px;
}
::placeholder
{
    font-style:italic;
    color: #acacac;
    padding-left: 10px;
}
.ssBox button
{
   width:50%;
   margin-right:25%;
   margin-left:25%;
   margin-bottom: 10px;
   padding: 10px 10px;
   border: none;
   background-color:#ffc530;
   border-radius: 15px;
}
.ssBox button:hover
{
   width:50%;
   margin-right:19%;
   margin-bottom: 10px;
   padding: 10px 10px;
   border: none;
   background-color:#fcd062;
   border-radius: 15px;
}




