* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFCF5;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #ffc530;
    position: absolute;
    height: 360%;
    overflow: auto;
    text-align: center;
  }

.sidebar a {
    display: block;
    color: #FFFCF5;
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
  }
.sidebar h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    color: #ffc530;
    background-color: #111111;
    padding: 16px;
}

.sidebar a:hover:not(.active) {
    background-color: #1111112a;
    color: #FFFCF5;
  }


.sidebar .acc{
  background-color: #1111112a;
  color: #FFFCF5;
}

.menu{
    /*padding: 0 10px 30px 10px;*/padding: 15px 35px 15px 35px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap: 10px 40px;
    margin-left: 18%;
    margin-right: 2%;
    z-index: -1;
}
.heading{
    color: #111111; 
    margin-bottom: 10px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}

.heading h1{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 8px;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0,0, 0.1);
}

.food-items img{
    position: relative;
    width: 100%; /*100%*/
    border-radius: 15px 15px 0 0;
}
h1{
    grid-column: 1/-1;
    text-align: center;
}
.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}

.details>p{
    color: rgb(143, 143, 143);
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
    text-align: justify;
}
.inline {
    display: flex; 
    flex-flow: row wrap;
    align-items: center;
}

.inline .btn{
    cursor: pointer;
    background-color: #111111;
    border: none;
    color: #ffc530;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    width: 35%;
    margin: 5px 0 5px 2px;
}

.inline .btn2{
    cursor: pointer;
    background-color: #FF3030;
    border: none;
    color: #FFFCF5;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    width: 35%;
    margin: 5px 0;
}

textarea{
    resize: none;
}
.inline .quantity{
    border: solid 1px rgba(36, 36, 36, 0.438);
    padding: 0 5px;
    width: 15%;
    margin: 0 23px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.button_acc{
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;;
    border: solid 2px #111111;
    border-radius: 10px;
    background-color: #111111;
    padding: 1px 5px 1px 5px;
    color: #ffc530;
    box-shadow: 1px 3px #00000036;
}

.order{
    display: block;
    width: 10%;
    margin-left: 53%;
    margin-right: 37%;
    text-align: center;
    background-color: #FF3030;
    color: #FFFCF5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
    border: none;
} 

.order:hover{
    background-color: #111111;
    font-weight: 500;
    color: #ffc530;

}

.whitespace{
    background-color: #FFFCF5;
    width: 100%;
    height: 5vh;
}

@media screen and (max-width: 1011px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar h1{
        font-size: 12px;
    }
    .sidebar a {
        float: auto;
        font-size: 12px;
    }
    div.content {
        margin-left: 0;
    }
    .menu {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .order {
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
    }
  }

@media screen and (max-width: 821px) {
    .order {
        width: 25%;
        margin-left: 38%;
        margin-right: 37%;
    }
}

@media screen and (max-width: 717px) {
    .order {
        width: 25%;
        margin-left: 38%;
        margin-right: 37%;
    }
    .menu {
        width: 50%;
        margin-left: 20%;
        margin-right: 30%;
    }
}
@media screen and (max-width: 320px) {
    .menu {
        width: 100%;
        margin-left: 1%
    }
    .order {
        width: 50%;
    }
}
@media screen and (max-width: 568px) {
    .order {
        width: 25%;
        margin-left: 44%;
        margin-right: 31%;
    }
}
@media screen and (max-width: 551px) {
    .inline{
        width: 80%;
        margin-left: 15%;
        margin-right: 5%;
    }
    .inline .btn{
        width: 25%;
    }
    .inline .btn2{
        width: 25%;
    }
    .order {
        width: 25%;
        margin-left: 37%;
        margin-right: 38%;
    }
}


@media screen and (max-width: 414px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .menu{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 1%;
    }
    .inline{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .inline .btn{
        width: 30%;
    }
    .inline .btn2{
        width: 30%;
    }
    .order {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }

  }

@media screen and (max-width: 629px) {
    .menu {
        width: 50%;
        margin-left: 17%;
        margin-right: 32%;
    }
  }

  @media screen and (max-width:800px) {
    .menu{
        width: 100%;
        margin-left: 1%;
        margin-right: 54%;
    }
    .heading, .food-items{
        margin: auto;
        width: 70%;
    }
}
