*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#ffc530;
}
nav{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ffc530;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    width: 70px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links a{
    font-family: 'Montserrat', sans-serif;
    color: #FFFCF5;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
}

.button_home{
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;;
    border: solid 2px #111111;
    border-radius: 10px;
    background-color: #111111;
    padding: 1px 5px 1px 5px;
    color: #ffc530;
    box-shadow: 1px 3px #0000001f;
}

.nav-links a:hover{
    font-family: 'Montserrat', sans-serif;
    color:  #111111;
    text-decoration: none;
    letter-spacing: 1px;    
    font-weight: 700;
    font-size: 15px;
}
.nav-links li{
    list-style: none;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #111111;
    margin: 5px;
    transition:all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color:#ffc530;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
} 
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.col{
    position: relative;
    width: 60%;
    margin-top: 5%;
    margin-left: 16%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: #111111;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: .5em;
    margin-left: .50%;
    color: #111111;
}

.button2{
    font-family: 'Montserrat', sans-serif;
    padding: .8em 2.3em;
    border-radius: 2em;
    border: none;
    margin-top: 1em;
    font-size: 13px;
    font-weight: 400 italic;
    box-shadow: 0px 3px#707070;
    cursor: pointer;
}

.button2:hover{
    background-color: #111111;
	color: #ffc530;
    font-weight: 500;
}
    


.chicken{
    position: absolute;
    z-index: -1;
    bottom: 22%;
	right: 24%;
}

.chicken img{
    width: 135%;
    
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
    .col{
        width: 80%;
        margin-left: 10%;
        margin-right: 30%;
        margin-top: 6%;
    }
    .chicken{
        bottom: 29%;
        right: 16%;
    }
    .chicken img{
        width: 120%;
    }
    h1{
        font-size: 65px;
    }
    h2{
        font-size: 22px;
    }

}

@media screen and (max-width:768px) {
    .col{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1{
        font-size: 40px;
        text-align: center;
    }
    h2{
        font-size: 18px;
        text-align: center;
    }
    .button2{
        font-size: 12px;
        margin-top: 5px;
        padding: 10px 20px;
    }
    .chicken{
        width: 59%;
        display: flex;
        justify-content: center;
        margin-right: 4%;
        margin-left: 37%;
        z-index: -2;
    }
    .chicken img{
        width: 140%;
        z-index: -2;
    }
}

@media screen and (max-width:414px) {
    .col{
        margin-top: 25%;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 15px;
    }
}

@media screen and (max-width:280px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 10px;
    }
    .button2{
        font-size: 10px;
        margin-top: 5px;
        padding: 8px 15px;
    } 
}