*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#FFFCF5;
    /*
    background-image: url("img/chicken.png");
    background-repeat: no-repeat;
    background-position: right;*/

}
nav{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ffc530;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    width: 70px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links a{
    font-family: 'Montserrat', sans-serif;
    color: #FFFCF5;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
}

.button_home{
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;;
    border: solid 2px #111111;
    border-radius: 10px;
    background-color: #111111;
    padding: 1px 5px 1px 5px;
    color: #ffc530;
    box-shadow: 1px 3px #0000001f;
}

.nav-links a:hover{
    font-family: 'Montserrat', sans-serif;
    color:  #111111;
    text-decoration: none;
    letter-spacing: 1px;    
    font-weight: 700;
    font-size: 15px;
}
.nav-links li{
    list-style: none;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #111111;
    margin: 5px;
    transition:all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color:#ffc530;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
} 
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
