.table{
    width:100%;
    border-radius: 5px;
  }
.table-content{
      padding-top: 10px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      border-collapse: collapse;
      overflow:hidden ;
      border-radius: 5px;
      box-shadow: 5px 10px 13px rgba(19, 14, 14, 0.116);
      table-layout: fixed ;
      word-wrap: break-word;
  }
  
.table-content th{
      background-color:#111111;
      color:#FFFCF5;
  }
  
.table-content tr{
      height: 35px;
  }
  
.table-content tr:nth-child(even){
      background-color: #ffc530;
      color: white;
  }
  
@media screen and (max-width: 1000px) {
    .content{
      width: 100%;
    }
    
}

@media screen and (max-width: 700px) {
    .content{
      width: 100%;
    }  

    .table-content th, td{
      padding: 5px 3px 5px 3px;
    }
}